body{
    display: none;
    font-family: sans-serif;
}
@media screen and (min-width: 240px) {
.logo1{
    height: 2.3rem;
}
.buy_now{
    display: none;
}
.bar{
    display: none;
}
.buy_button{
    width: 1.8rem;
    height: 1.8rem;
    background-color: rgba(255, 72, 0, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
}
.basket{
    width: 1.5rem;
    height: 1.5rem;
}
.rectangle{
    width: 1rem;
    height: 0.2rem;
    background-color: white;
}
.menu{
    background-color: rgba(78, 78, 145, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.2rem;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
}
.header_frame{
    display: flex;
    justify-content: center;
    gap: 0.8rem;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 6.25vw;
    margin-right: 6.25vw;
    margin-bottom: 6.25vw;
    margin-top: 1rem;
}

.heading{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bolder;
}
.text{
    text-align: center;
    font-size: 0.75rem;
    color: rgba(60, 60, 60, 1);
}
.writing{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.email_button{
    color: rgba(85, 85, 85, 1);
    font-size: 0.75rem;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 37.5vw;
    border-radius: 0 0 0.75rem 0.75rem;
}
.sign_button{
    color: white;
    background-color: rgba(78, 78, 145, 1);
    font-size: 0.75rem;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 28.125vw;
    border-radius: 0 0 0.75rem 0.75rem;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 3vw;
}
.hero_writing{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 6.25vw;
    margin-right: 6.25vw;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.hero_section{
    display: flex;
    flex-direction: column;
}

.picture_large{
    display: none;
}

.heading_2{
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
}
.text_2{
    font-size: 0.75rem;
    text-align: center;
    color: rgba(60, 60, 60, 1);
}
.explanation_writing{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 48vw;
    margin-top: 30vw;
}
.picture_small{
    height: 19rem;
    width: 43.75vw;
    
}
.explanation{
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
    margin-left: 6.25vw;
    margin-right: 6.25vw;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.button{
    font-size: 0.8rem;
    box-shadow: 0 0.2rem 0.1rem rgb(182, 183, 184);
    height: 3rem;
    width: 56.25vw;
    display: flex;
    align-items: flex-end;
    padding: 0.4rem;
    border-radius: 0 0 1rem 1rem;
}

.icons{
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(78, 78, 145, 1);
    position: absolute;
    border-radius: 0 0 0.5rem 0.5rem;
}
.icon{
    height: 1rem;
    width: 1rem;
}
.icon2{
    width: 0.75rem;
    height: 1.1rem;
}
.buttons{
    flex-direction: column;
}
.buttons_2{
    margin-left: 12vw;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1.5rem;
}
.buttons_3{
    margin-right: 12vw;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1.5rem;
}

.logo{
    width: 15vw;
    height: 5vw;
}
.logos_footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(232, 239, 243, 1);
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    margin-top: 1rem;
    gap: 0.6rem;
    width: 100%;
}
.logos{
    display: none;
}
body{
    margin: 0;
    display: block;
}
}
@media screen and (min-width: 550px){

    .logo1{
        height: 2.5rem;
    }
    .menu{
        display: none;
    }
    .buy_button{
        color: white;
        font-size: 1rem;
        font-weight: bolder;
        height: 2.2rem;
        width: 14vw;
        border-radius: 0 0 0 0;
    }
    .buy_now{
        display: block;
    }
    .basket{
        width: 1.2rem;
        height: 1.3rem;
    }
    .bar{
        display: flex;
        color: rgba(78, 78, 145, 1);
        font-size: 1rem;
        gap: 1rem;
    }
    .header_frame{
        align-items: center;
        gap: 3vw;
    }

    .heading{
        font-size: 2.2rem;
        text-align: left;
    }
    .text{
        font-size: 1rem;
        text-align: left;
    }
    .email_button{
        font-size: 1rem;
        height: 2.5rem;
        width: 22vw;
    }
    .sign_button{
        font-size: 1rem;
        height: 2.5rem;
        width: 16vw;
    }
    .hero_writing{
        width: 45vw;
        align-items: flex-start;
    }
    .picture_small{
        display: none;
    }
    .picture_large{
        display: block;
        width: 43vw;
        height: 25vw;
        margin-right: 6.25vw;
    }
    .hero_section{
        flex-direction: row;
        margin-right: 6.25vw;
        align-items: center;
    }
    .logos{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(232, 239, 243, 1);
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        margin-top: 3.5rem;
        gap: 1.5rem;
        width: 100%;
    }
    .logo{
        height: 3vw;
        width: 10vw;
    }

    .heading_2{
        font-size: 1.8rem;
    }
    .text_2{
        font-size: 1rem;
    }
    .logos_footer{
        display: none;
    }
    .explanation_writing{
        display: flex;
        justify-content: center;
        align-items: center;
        width:auto;
        height: auto;
        margin-top: 1rem;
    }
    .button{
        width: 25vw;
    }
    .buttons_2{
        margin: 0%;
    }
    .buttons_3{
        margin: 0%;
    }
    .buttons{
        display: flex;
        flex-direction: row;
        margin-bottom: 2rem;
    }
} 